@import '../explorer/explorer.page.scss';
.sqlbox, .paramsbox, .inp { width:100%; background:#121212; color:#fff; border:1px solid #333; border-radius:12px; padding:.5rem .75rem; }
.actions { margin-top:.75rem; display:flex; justify-content:flex-end; }
